// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import '__variables';

body {
  margin: 0;
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

}


nav {
  background: $brand-primary;
  color: white;
  margin: 0;
  font-size: 2rem;
  font-family: $brand-display;

}

.navbar__text {
  margin: 0;
  margin-left: 5rem;
  font-family: $brand-display;
}

main {
  width: 60rem;
  background: $brand-white;
  display: flex;
  flex-grow: 1;
  margin: auto;
}


.series-details-sidebar {
  background: $brand-white;
  width: 30%;
  margin: $gutter;
}

.main-pic {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.main-pic:before {
  display: block;
  padding-top: 100%;
  content: '';
}

.main-pic__image {
  position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  max-width: 100%;
}


.main-pic__heading {
  margin-left: 1rem;
  font-family: $brand-sans;
}

.main-pic__years {
  margin-left: 1rem;
  font-family: $brand-sans;
  font-size: .7rem;
}

.creators-heading {
  margin-left: 1rem;
  border-bottom: $brand-border;
  font-family: $brand-display;
}

.creator-names {
  margin-left: 1rem;
  font-family: $brand-sans;
}

.characters__heading {
  font-family: $brand-display;
  font-size: 1.5rem;
  border-bottom: $brand-border;
}

.sub-main {
  // background: purple;
  width: calc(70% - #{$gutter} - #{$gutter});
}

.character__pic {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:before {
    display: block;
    padding-top: 100%;
    content: '';
  }
}

.characters {

}

.characters-pic__image {
  position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  max-width: 100%;
}


.modal {
  display: none;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &--active {
    display: block;
  }
}

.modal-card {
  display: flex;
  flex-direction: column;

  background: white;
  z-index: 1;
  width: 70rem;
  position: absolute;
  top: 50%;
  left: 6.25%;

}

.close-button {
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-end;
  border: 0;
  background: white;
}
